.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=checked].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
}

button:hover,
button:active,
button:focus,
input:hover,
input:active,
input:focus {
  outline: none;
}

a {
  outline: none;
}
